.library {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    background-color: white;
    box-shadow: 2px 2px 50px rgb(184, 184, 184);
    overflow: scroll;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;
    h2 {
        padding: 2rem;
    }
}

.library-songs {
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    img {
        width: 30%;
    }
    &:hover {
        background: rgb(240, 240, 240);
    }
}

.song-description {
    padding: 1rem;
    h3 {
        font-size: 1rem;
    }
    h4 {
        font-size: 0.8rem;
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border: transparent;
}

.selected {
    background: rgba(187, 255, 252, 0.562);
}

.active-library {
    transform: translateX(0%);
    opacity: 1;
}
