.library {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    background-color: lightblue;
    box-shadow: 2px 2px 50px rgb(184, 184, 184);
    overflow: scroll;
}

.library-song {
    display: flex;
    align-items: center;
    flex-direction: column;
    img {
        width: 30%;
    }
}
